---
layout: default
title: Sewing
---


<div class="home">  
<h1 class="page-heading">Sewing projects</h1> 

<ul class="post-list">   
{% for post in site.categories.sewing %} 
<li>        
    <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>  
    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }} </a>   
    <img src="{{ post.image }}" />    
    
</li>    
{% endfor %} 

</ul>     
</div>

