---
layout: default

---

<div class="home">
 
    <section class="content"><p>Learning is a fun process</p></section>
    
    <h1 class="page-heading"></h1>
  
    {% assign previousDate = site.date %}
    {% assign current_time = site.time | date: "%s" %}
    
    <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">
            
            {% assign expires = post.date | date: "%s" | plus: 7776000 | date: "%s" %}
            {% if current_time < expires %}
                {{post.date | date: "%b %-d, %Y" }}
                <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
            {% endif %}
        </span>
       
      </li>
    {% endfor %}
    </ul>
  
    {% highlight ruby %}
    Food
    {% endhighlight %}
    
    <ul class="post-list">
    {% for post in site.categories.food %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
    </ul>

</div>

<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>


