---
layout: default
title: Nature
---


<div class="home"> 

<h1 class="page-heading">Camping</h1> 
<ul class="post-list">    
{% for post in site.categories.camping %} 
<li>        
    <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>           
    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>              
    <img src="{{ post.image }}" />       </a>    
</li>    
{% endfor %} 
</ul>     
</div>