---
layout: default
title: Knits
---

<div class="home">  

<h1 class="page-heading">Hand-Knit </h1> 

<ul class="post-list">    
{% for post in site.categories.knits %}  
<li>    
    <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>       
     <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>       
        <img src="{{ post.image }}" />
   
    </a>    
</li>    
{% endfor %}  
</ul>      

</div>

