---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">* {{ page.title }} *</h1>
  </header>
  
  {% for work in pattern %}
    <h3>{{work}}</h3>
    
  {% endfor %}


  <div class="post-content">
    <img src="{{ page.image }}"/>
    {{ content }}
  </div>

</article>