---
layout: default
---

<article class="post">  
    <header class="post-header">    
        <h1 class="post-title">* {{ page.title }} * </h1>  
    </header>  
    
    <div class="post-content">    
        <img src="{{ page.image }}"/>    
        {{ content }} 
    
        <h3>Ingredients</h3>
        <ul class="tree">
        {% for item in page.ingredients.dry %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>
        
        <ul class="tree">
        {% for item in page.ingredients.wet %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>
        
        <ul class="tree">
        {% for item in page.ingredients.extra %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>
        <p></p>
        
        <h3>Steps</h3>
        <ol type="1">
        {% for step in page.steps %}
            <li>{{ step }}</li>
        {% endfor %}
        </ol>
        
      
    </div>
    
        <p>Performed by {{page.artist}} {% if page.director %}, directed by {{page.director}}{% endif %}</p>
    
      {% for work in page.works %}
        <h3>{{ work.title }}</h3>
        <p>Composed by {{ work.composer }}</p>
        <ul>
        {% for track in work.tracks %}
          <li>{{ track.title }} ({{ track.duration }})</li>
        {% endfor %}
        </ul>
      {% endfor %}
</article>

